
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about">
    <div class="container">
        <div class="about-info">
            <h2>About Us</h2>
            <div class="about-pic">
                <img src="images/about.jpg" alt="">
            </div>
            <div class="about-text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.The fashion industry is a product of the modern age. Prior to the mid-19th century, most clothing was custom-made. It was handmade for individuals, either as home production or on order from dressmakers and tailors excepteur sint occaecat cupidatat non proident.
                </p>
            </div>
            <div class="clearfix"></div>

            <div class="about-section">
                <div class="brands">
                    <h3>BRANDS</h3>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text
                        . All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                    </p>
                </div>
                <div class="Fashion">
                    <h3>FASHION INDUSTRY</h3>
                    <p>The fashion industry is a product of the modern age. Prior to the mid-19th century, most clothing was custom-made. It was handmade for individuals, either as home production or on order from dressmakers and tailors. By the beginning of the 20th century—with the rise of new technologies such as the sewing machine, the rise of global capitalism and the development of the factory system of production, and the proliferation of retail outlets such as department stores—clothing had increasingly come to be mass-produced in standard sizes and sold at fixed prices.</p>
                    <p>
                        Although the fashion industry developed first in Europe and America, as of 2014 it is an international and highly globalized industry, with clothing often designed in one country, manufactured in another, and sold world-wide. For example, an American fashion company might source fabric in China and have the clothes manufactured in Vietnam, finished in Italy, and shipped to a warehouse in the United States for distribution to retail outlets internationally. The fashion industry has long been one of the largest employers in the United States, and it remains so
                        in the 21st century. However, U.S. employment declined considerably as production increasingly moved overseas, especially to China. Because data on the fashion industry typically are reported for national economies and expressed in terms of the industry's many separate sectors, aggregate figures for world production of textiles and clothing are difficult to obtain. However, by any measure, the clothing industry accounts for a significant share of world economic output. The fashion industry consists of four levels:
                    </p>
                    <ol>
                        <li>The production of raw materials, principally fibers and textiles but also leather and fur</li>
                        <li>The production of fashion goods by designers, manufacturers, contractors, and others</li>
                        <li>Retail sales</li>
                        <li>Various forms of advertising and promotion</li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
