<!DOCTYPE html>
<html>
<head>
    <title>Fashion shop</title>
    <link href="/Assets/Clients/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/Assets/Clients/css/font-awesome.min.css" rel="stylesheet" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/Assets/Clients/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/Assets/Clients/css/hover.css" rel="stylesheet" media="all">
    <link href="/Assets/Clients/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shopper Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- tabs-->
    <link type="text/css" rel="stylesheet" href="/Assets/Clients/css/easy-responsive-tabs.css" />
    <script src="/Assets/Clients/js/easyResponsiveTabs.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });

            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- tabs-->

</head>
<body>
    <!---->
    <!-- script-for-menu -->
    <script>
        $("span.menu").click(function () {
            $(".top-menu ul").slideToggle("slow", function () {
            });
        });
    </script>
    <!-- script-for-menu -->
    <div class="header">
        <div class="container">
            <div class="header-left">
                @{Html.RenderAction("TopLeftMenu", "Home");}
            </div>
            <div class="logo">
                <a href="/"><img src="/Assets/Clients/images/logo.png" alt="" /></a>
            </div>
            <div class="header-right">
                @{Html.RenderAction("TopRightMenu", "Home");}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    @RenderBody()
    <!---->
    <div class="footer">
        <div class="container">
            <p>Fashion store &copy; 2016 All rights reserved</p>
            <div class="social">
                <a href="#"><span class="icon2"></span></a>
                <p>Fashion Shop</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!---->
    @RenderSection("jsFooter", required: false)

</body>
</html>
