@model List<Model.EF.DanhMucSP>

<div class="categories">
    <h3>DANH MỤC</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/san-pham/@item.MetaTitle-@item.ID">@item.Name</a></li>
        }
    </ul>
</div>
@*<div class="sales">
    <div class="pricing">
        <h4>Tìm theo giá</h4>
        <input type="text" placeholder="Từ" required />
        <input type="text" placeholder="Đến" required />
        <div class="clearfix"></div>
    </div>
    <div class="size">
        <h4>Size</h4>
        <ul>
            <li><a href="#">XS</a></li>
            <li><a href="#">S</a></li>
            <li><a href="#">M</a></li>
            <li><a href="#">L</a></li>
            <li><a href="#">XL</a></li>
        </ul>
    </div>
</div>*@
